[Unit]
Description=Squeezebox/UE/SSDP discovery forwarder
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/squoxy -i bond0.253 bond0.248
User=nobody
Group=nobody
AmbientCapabilities=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
